In [2]:
import pandas as pd
from urllib.error import HTTPError

In [3]:
try:
    medals_df = pd.read_csv('http://winterolympicsmedals.com/medals.csv')
except HTTPError:
    print('Error when trying to download .csv file')
except Exception as e:
    print('Error')

In [4]:
medals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          2311 non-null   int64
 1   City          2311 non-null   object
 2   Sport         2311 non-null   object
 3   Discipline    2311 non-null   object
 4   NOC           2311 non-null   object
 5   Event         2311 non-null   object
 6   Event gender  2311 non-null   object
 7   Medal         2311 non-null   object
dtypes: int64(1), object(7)
memory usage: 144.6+ KB

In [5]:
medals_df.sample(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1963,2002,Salt Lake City,Skating,Speed skating,NED,3000m,W,Silver
2037,2002,Salt Lake City,Skating,Figure skating,USA,individual,W,Gold
1367,1992,Albertville,Skiing,Alpine Skiing,ITA,slalom,M,Silver
190,1948,St. Moritz,Skiing,Alpine Skiing,AUT,slalom,W,Bronze
1308,1992,Albertville,Skating,Figure skating,EUN,pairs,X,Gold
244,1948,St. Moritz,Bobsleigh,Bobsleigh,USA,two-man,M,Bronze
838,1976,Innsbruck,Skating,Figure skating,NED,individual,W,Silver
1973,2002,Salt Lake City,Skating,Speed skating,NOR,10000m,M,Bronze
932,1980,Lake Placid,Luge,Luge,GDR,singles,W,Silver
2046,2002,Salt Lake City,Skating,Speed skating,USA,5000m,M,Silver

In [6]:
medals_df['NOC'].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [7]:
medals_df['Medal'].value_counts()

Gold      774
Silver    773
Bronze    764
Name: Medal, dtype: int64

In [8]:
medals_df[medals_df['Year'] >= 1950].Year.value_counts().sort_values(ascending=True)

1952     67
1956     72
1960     81
1964    103
1972    105
1968    106
1976    111
1980    115
1984    117
1988    138
1992    171
1994    183
1998    205
2002    234
2006    252
Name: Year, dtype: int64

In [9]:
# Filter by columns Year, NOC and Medal
medals_filtered_df = medals_df[(medals_df['Year'] >= 1950) & 
                               (medals_df['NOC'] == 'USA') & 
                               (medals_df['Medal'] == 'Gold')]
medals_filtered_df

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
311,1952,Oslo,Skating,Figure skating,USA,individual,M,Gold
314,1952,Oslo,Skating,Speed skating,USA,500m,M,Gold
316,1952,Oslo,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
317,1952,Oslo,Skiing,Alpine Skiing,USA,slalom,W,Gold
386,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,M,Gold
...,...,...,...,...,...,...,...,...
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold